/*Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&display=swap');

/* displays */
#saludo {
  display: block;
}

#categoria {
  display: none;
}

#preguntasComida {
  display: none;
}

#preguntasRefran {
  display: none;
}

#verResultados {
  display: none;
}

/* estilos */
html{
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
  body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    }

    h1{
      color: white;
    }
    h2{
      color: #C031B5
    }
    p{
      color: #845EC2;
    }
    .text{
      color: #C031B5;
    }

    .yo{
      width: 350px;
    } 

    .gatomesa{
      width: 180px;
    }

    .calila{
      width: 180px;
    } 

    .gato{
      width: 180px;
    }  

    .pie{
      font-family: 'Roboto', sans-serif;
      background: rgb(238,174,202);
      background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,0.3127626050420168) 100%);
      margin-top: 50px;
      padding: 20px;
    }